@use "var";

.TopProducts {
  width: 80%;
  @include var.flex-container(column, center, center);
  padding: 0 1.5% 1.5% 1.5%;
  h2 {
    font-size: 3rem;
    margin-bottom: 1.5%;
  }
  section.productList {
    width: 100%;
    @include var.flex-container(row, center, center);
    flex-wrap: wrap;
    height: unset;
    article, .skeletonCard {
      margin-left: 1.5%;
      margin-bottom: 1.5%;
      &:nth-child(1) {
        margin-left: 0;
      }
    }
  }
}
