$primary-black: #1e1e28;
$primary-orange: #be382d;
$primary-orange-light: #d1594c;
$secondary-gray: #555969;
$light-gray: #eeeee7;
$text-light: #e8ede8;
$text-dark: #333;
$discount-red: #ca2020;
$discount-grey: #d8d8d8;
  
$shadow-1: 3px 7px 13px -7.5px rgba(0,0,0,0.3);
$shadow-2: 0 40px 90px 0 rgba(51, 51, 51, 0.3);
$shadow-3: 0px 0px 15px 0px rgba(0,0,0,0.5);

@mixin flex-container($direction, $space, $items) {
  display: flex;
  align-items: $items;
  flex-direction: $direction;
  justify-content: $space;
}
